* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    margin: 5.5vh 10vw;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.cuadroAcceso {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.columnaAcceso {
    display: flex;
    flex-direction: column;
}

.cuadroFormularioRegistro,
.cuadroFormularioLogin {
    display: flex;
    flex-direction: column;
    padding: 4vh 0;
    margin-top: 1.25vh;
    gap: .5vh;
}

.formulario {
    margin-top: 4vh;
}

    .formulario h2 {
        font-size: 2rem;
    }

.cuadroTexto {
    display: flex;
    margin: 1.5vh 0;
    flex-direction: column;
    gap: .5vh;
}

.campoTexto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}

.cuadroTexto input {
    display: flex;
    padding: 1vh 1.5vw;
    font-size: large;
    width: 17.5vw;
}

.cuadroTexto label {
    display: flex;
    font-size: x-large;
    font-weight: bold;
}

.cuadroTexto span {
    display: flex;
    color: red;
    justify-content: flex-end;
    height: 2vh;
}

.boton {
    padding: 1.5vh 2vw;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 5px 5px black;
    font-size: larger;
}

.cuadroBoton {
    display: flex;
}

.cuadroOperacion {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

    .cuadroOperacion h1 {
        font-size: 2.5rem;
    }

.saldo {
    font-size: 2rem;
    font-weight: bold;
}

.cuadroMonto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7.5vw;
    height: 10vh;
}

    .cuadroMonto label {
        display: flex;
        font-size: x-large;
        font-weight: bold;
    }

    .cuadroMonto input {
        display: flex;
        padding: 1vh 1.5vw;
        font-size: large;
        width: 17.5vw;
    }

.campoMonto{
    height: 5vh;
}

.formularioMonto {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vh;
    font-size: x-large;
    font-weight: bold;
}

    .table th, .table td {
        padding: 3vh 0;
        border: 3px solid black;
        width: 23vw;
        text-align: center;
    }

    .table thead tr {
        background-color: lightsteelblue;
    }

.error {
    color: red;
}
